In [1]:
import pandas as pd
GB = pd.read_csv("C:/Temp/GBvideos.csv")
US = pd.read_csv("C:/Temp/USvideos.csv")

In [2]:
GB.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...

In [3]:
GB.shape

(38916, 16)

In [4]:
import json

In [5]:
pd.read_json("C:/Temp/GB_category_id.json")

id_to_category = {}

with open('C:/Temp/GB_category_id.json', 'r') as f:
    data = json.load(f)
    for category in data['items']:
        id_to_category[category['id']] = category['snippet']['title']

        
id_to_category

{'1': 'Film & Animation',
 '2': 'Autos & Vehicles',
 '10': 'Music',
 '15': 'Pets & Animals',
 '17': 'Sports',
 '18': 'Short Movies',
 '19': 'Travel & Events',
 '20': 'Gaming',
 '21': 'Videoblogging',
 '22': 'People & Blogs',
 '23': 'Comedy',
 '24': 'Entertainment',
 '25': 'News & Politics',
 '26': 'Howto & Style',
 '27': 'Education',
 '28': 'Science & Technology',
 '30': 'Movies',
 '31': 'Anime/Animation',
 '32': 'Action/Adventure',
 '33': 'Classics',
 '34': 'Comedy',
 '35': 'Documentary',
 '36': 'Drama',
 '37': 'Family',
 '38': 'Foreign',
 '39': 'Horror',
 '40': 'Sci-Fi/Fantasy',
 '41': 'Thriller',
 '42': 'Shorts',
 '43': 'Shows',
 '44': 'Trailers'}

In [6]:
id_to_category=pd.DataFrame(data ={'1': 'Film & Animation',
 '2': 'Autos & Vehicles',
 '10': 'Music',
 '15': 'Pets & Animals',
 '17': 'Sports',
 '18': 'Short Movies',
 '19': 'Travel & Events',
 '20': 'Gaming',
 '21': 'Videoblogging',
 '22': 'People & Blogs',
 '23': 'Comedy',
 '24': 'Entertainment',
 '25': 'News & Politics',
 '26': 'Howto & Style',
 '27': 'Education',
 '28': 'Science & Technology',
 '30': 'Movies',
 '31': 'Anime/Animation',
 '32': 'Action/Adventure',
 '33': 'Classics',
 '34': 'Comedy',
 '35': 'Documentary',
 '36': 'Drama',
 '37': 'Family',
 '38': 'Foreign',
 '39': 'Horror',
 '40': 'Sci-Fi/Fantasy',
 '41': 'Thriller',
 '42': 'Shorts',
 '43': 'Shows',
 '44': 'Trailers'},index=['category'])

In [8]:
import numpy as np
id_to_category=np.transpose(id_to_category)
id_to_category

                category
1       Film & Animation
2       Autos & Vehicles
10                 Music
15        Pets & Animals
17                Sports
18          Short Movies
19       Travel & Events
20                Gaming
21         Videoblogging
22        People & Blogs
23                Comedy
24         Entertainment
25       News & Politics
26         Howto & Style
27             Education
28  Science & Technology
30                Movies
31       Anime/Animation
32      Action/Adventure
33              Classics
34                Comedy
35           Documentary
36                 Drama
37                Family
38               Foreign
39                Horror
40        Sci-Fi/Fantasy
41              Thriller
42                Shorts
43                 Shows
44              Trailers

In [9]:
id_to_category['index'] = id_to_category.index

In [10]:
id_to_category['index']=id_to_category['index'].astype(int)
GB['category_id']=GB['category_id'].astype(int)

In [11]:
GB=GB.merge(id_to_category ,left_on ='category_id',right_on='index')

In [ ]:
#누락값 확인

In [12]:
GB.info() #description에 누락값 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38826 entries, 0 to 38825
Data columns (total 18 columns):
video_id                  38826 non-null object
trending_date             38826 non-null object
title                     38826 non-null object
channel_title             38826 non-null object
category_id               38826 non-null int32
publish_time              38826 non-null object
tags                      38826 non-null object
views                     38826 non-null int64
likes                     38826 non-null int64
dislikes                  38826 non-null int64
comment_count             38826 non-null int64
thumbnail_link            38826 non-null object
comments_disabled         38826 non-null bool
ratings_disabled          38826 non-null bool
video_error_or_removed    38826 non-null bool
description               38266 non-null object
category                  38826 non-null object
index                     38826 non-null int32
dtypes: bool(3), int32(2), int64(4), object(9)
memory usage: 4.6+ MB

In [13]:
GB["description"] = GB["description"].fillna(value="")

In [14]:
GB.describe()

,category_id,views,likes,dislikes,comment_count,index
count,38826.000000,3.882600e+04,3.882600e+04,3.882600e+04,3.882600e+04,38826.000000
mean,16.799722,5.916561e+06,1.342016e+05,7.490175e+03,1.292107e+04,16.799722
std,7.739501,1.901971e+07,3.490054e+05,5.039509e+04,4.955807e+04,7.739501
min,1.000000,8.510000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000
25%,10.000000,2.520638e+05,5.917000e+03,2.000000e+02,6.800000e+02,10.000000
50%,20.000000,9.821230e+05,2.518350e+04,8.205000e+02,2.478000e+03,20.000000
75%,24.000000,3.692498e+06,1.142088e+05,3.361000e+03,9.264000e+03,24.000000
max,43.000000,4.245389e+08,5.613827e+06,1.944971e+06,1.626501e+06,43.000000

In [15]:
import numpy as np
GB_cat_mean = GB.groupby('category').views.agg([min, max, np.std, np.mean]).sort_values(["mean"], ascending=[False])

print(GB_cat_mean.astype(int))

                         min        max       std      mean
category
Music                   2152  424538912  29574046  12444442
Entertainment           2650  169884583   9192802   3264607
Film & Animation        2441   42560014   6040443   3245132
Science & Technology   38353   21530325   5407728   3168703
Comedy                 10676   43460605   3410803   2167430
People & Blogs          1184   62338362   6731586   1966605
Sports                  1930   22975455   3745286   1752352
Autos & Vehicles        1858    5362914   1507791   1487392
Shows                 876996    1709880    251163   1429164
Travel & Events         3254    6362355   2197172   1383177
News & Politics          851   18994966   2750035   1150311
Pets & Animals         25232    6416920   1287336   1013708
Gaming                  7350   18158133   2211469    976856
Education               8851   11240174   2079594    972189
Howto & Style           1505    8721841   1060482    617300

In [16]:
def my_mean_diff(values, diff_value):
    n = len(values) 
    sum = 0 
    for value in values:
        sum += value 
    mean = sum / n 
    return mean - diff_value

In [17]:
global_mean = GB.views.mean() 
print(global_mean)

5916561.065059496

In [18]:
agg_mean_diff = GB.groupby('category').views.agg(my_mean_diff, diff_value=global_mean) 
print(agg_mean_diff.astype(int))

category
Autos & Vehicles       -4429168
Comedy                 -3749131
Education              -4944371
Entertainment          -2651953
Film & Animation       -2671428
Gaming                 -4939704
Howto & Style          -5299260
Music                   6527881
News & Politics        -4766249
People & Blogs         -3949955
Pets & Animals         -4902852
Science & Technology   -2747857
Shows                  -4487396
Sports                 -4164208
Travel & Events        -4533384
Name: views, dtype: int32

In [19]:
GB["proportion"] = GB["dislikes"]/GB["likes"]

In [20]:
GB_prop_mean = GB.groupby('category').proportion.agg([min,max,np.mean])

In [21]:
print(GB_prop_mean.sort_values(["mean"]))

                           min        max      mean
category
Shows                 0.006760   0.008111  0.007617
Pets & Animals        0.002537   0.267240  0.035151
Travel & Events       0.000000   0.112676  0.036060
Music                 0.000000   4.353606  0.043104
Comedy                0.003037   0.353371  0.051882
Science & Technology  0.004091   0.908491  0.065394
Howto & Style         0.001649   9.800000  0.068425
Education             0.004533   0.422870  0.077640
Entertainment         0.000000   5.341328  0.096422
Film & Animation      0.000000  12.912844  0.153850
Sports                0.000000   5.125035  0.186333
Gaming                0.001178  32.365385  0.257763
Autos & Vehicles      0.007692   2.292446  0.266827
News & Politics       0.000000   7.847430  0.352954
People & Blogs        0.000000  25.445413  0.357765